:root {
    /* Colors */
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--light-gray);
    font-size: 15px;
    /* Centering the item with flex */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.qr-card {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
}

img[alt='qr code'] {
    width: 100%;
    border-radius: 10px;
}

.info {
    padding: 20px;
    text-align: center;
}

.info h2 {
    font-weight: 700;
}

.info p {
    color: var(--grayish-blue);
    font-weight: 400;
}
